*{
  margin: 0;
}

#background{
  background-color: #ffecec;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
body{
  background-image: url(https://vastphotos.com/files/uploads/photos/10690/autumn-foliage-tree-photo-l.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter:blur(8px);
  background-attachment: fixed;

 }
.app{
  background-color: #FF8AAE;

   height: 100vh;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight{
  margin-left: 20px;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffc7c7;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__signup{
display: flex;
flex-direction: column;
}

.app__headerImage{
  width:100px;
  object-fit: contain;
}

.loginPrompt{
  text-align: center;
  padding: 20px;
}
